body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alvicci-img {
    width: 150px;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    color: #2b2839;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: #457b9d;
    border-bottom: 8px solid #1d3557;
    border-top: 8px solid #1d3557;
    border-radius: 10px;
}

.my_details {
    margin: auto 0;
    color: #f1faee;
}

.card:hover {
    background: #1d3557;
    color: #f1faee;
    border-bottom: 8px solid #e63946;
    border-top: 8px solid #e63946;
    border-radius: 10px;
}